# 1. In the below elements which of them are values or an expression?

In [ ]:
values
'hello'
-87.8
6
expression
*
-
/
+

# 2.What is the difference between string and variable?

string = string is data type and it inclosed with in " " , ' ' quotes .if you write anything inside quotes (single or double) that called as string
ex . "mukesh kamaliya" 
variable = is an identifier or where you can save data for some time (in side ram) to use it again ex. a = 10 , b =20 then you can do a+b =>30

# 3.Describe three different data types.

In [ ]:
string = all alphanumeric data in side single or double qoutes(" " ,' ') ex-"mukesh" , "123m" ,'1'
integer = whole number ex - 1,2,3,4,5
float( floting point) = number with decimal point ex-12.345,123.1,0.0003

# 4.What is an expression made up of? What do all expressions do?

In [ ]:
Expression is made up of values, containers, and mathematical operators
ex- 10 + 5 
it will return 15
arathmetic expression

# 5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
expression is a combination of values and functions that are combined and interpreted by the compiler to create a new value
ex- x=5 ,y=5 => x+y => 10 
instruction that a python interpreter can execute is called a Statement
ex- x=5 => print(x) => 5 
spam=10 in this spam is variabal name print(spam) this is statement and (spam+spam)  this is expression

# 6.After running the following code, what does the variable bacon contain?

In [1]:
bacon = 22

In [2]:
bacon + 1

23

In [4]:
bacon # bacon contain by defult values which we give it early ear

22

# 7. What should the values of the following two terms be?

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
because we can't start giving variable an integer name
you can start with alphabet then you can use number like m100 or eggs100

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [7]:
str() , int() , float()

('', 0, 0.0)

# 10. Why does this expression cause an error? How can you fix it?

In [8]:
'I have eaten' + 99 + 'burritos' #because 99 is integer and other is string

TypeError: can only concatenate str (not "int") to str

In [9]:
# for fixt it you have to do type casting
'I have eaten' + str(99) + 'burritos'

'I have eaten99burritos'