# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter untilthe year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
years_list=[a for a in range(1999,1999+6)]
print(years_list)

[1999, 2000, 2001, 2002, 2003, 2004]

# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [3]:
years_list[3]

2002

# 3.In the years list, which year were you the oldest?

In [4]:
years_list[-1]

2004

# 4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;, &quot;salmonella&quot;.

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [7]:
for a in range(len(things)):
    if things[a] == 'cinderella':
        things[a] = things[a].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

# 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [9]:
surprise_list = ["Groucho","Chico","Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [11]:
print(surprise_list[-1].lower()[::-1].capitalize())

Oprah

# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [12]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 9. Write the French word for walrus in your three-word dictionary e2f.

In [13]:
print(e2f.get('walrus'))

morse

# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [14]:
f2e = dict([a[::-1] for a in e2f.items()])
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# 11. Print the English version of the French word chien using f2e.

In [18]:
print(f2e.get('chien'))
print(f2e.get('chat'))
print(f2e.get('morse'))

dog
cat
walrus

# 12. Make and print a set of English words from the keys in e2f.

In [16]:
print(list(e2f.keys()))

['dog', 'cat', 'walrus']

# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39; and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;. Make all the other keys refer to empty dictionaries.

In [19]:
life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},'plants':{},'other':{}}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

# 14. Print the top-level keys of life.

In [20]:
print(list(life.keys()))

['animals', 'plants', 'other']

# 15. Print the keys for life[&#39;animals&#39;].

In [21]:
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']

# 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [22]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']